<!DOCTYPE html>
<html>
<head>
    <title>Safe Route Finder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <img src="{{ url_for('static', filename='images/SafePath_Logo.png') }}" alt="Logo" class="logo">
</head>

<body>

<div class="container">
    <img src="{{ url_for('static', filename='images/SafePath_Logo.png') }}" alt="Logo" class="logo">
    <h1>Gaza Safe Path Recommender</h1>

    <label>Your Location:</label>
    <select id="locationSelect"></select>

    <label>Your Situation (Scenario):</label>
    <select id="scenarioSelect">
        <option value="risk">Avoid Danger (High Risk Avoidance)</option>
        <option value="aid">Need Humanitarian Aid (Injured)</option>
        <option value="distance">Shortest Distance (nearest shelters)</option>
    </select>

    <button onclick="computePath()">Find Best Destinations</button>

    <h2>Top 3 Recommended Destinations</h2>
    <div id="results"></div>

</div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
